body{
	font-family: 'Josefin Slab', serif;
}
/**** BACKGROUND COLORS s****/
.purple-bg { background-color: rgba(189,151,204,1.00); }
.turquoise-bg { background-color: rgba(124,205,201,1.00); }
.yellow-bg { background-color: rgba(255,204,92,1.00); }
.red-bg { background-color: rgba(245,135,114,1.00); }
.gray-bg { background-color: rgba(237,239,232,1.00); }
.dark-gray-bg { background-color: rgba(82,96,126,1.00); }
.dark-turquoise-bg { background-color: rgba(70, 121, 119, 1); }

/**** FONT COLOURS ****/

.asphalt { color:#384049; }
.red { color:#E84E41; }
.gray { color:rgb(245, 247, 247); }
.yellow { color:#F4A62A; }
.blue { color:#43576b; }
.green { color:#83c240; }
.orange { color:#ff6600; }
.blue{ color: #AA1111;}
.darkgrey { color:#666; }
.white { color:#ffffff; }
.black {color:#00000;}
.turquoise {color: rgba(124,205,201,1.00);}

/**** FONT SIZES ****/
.main-heading{

	font-size: 70px;
	font-weight: bold;
}

/**** CUSTOM PADDING ****/
.pad-top-120 { padding-top:120px; }
.pad-top-100 { padding-top:100px; }
.pad-top-50  { padding-top:50px; }
.pad-top-60  { padding-top:60px; }
.pad-top-45  { padding-top:45px; }
.pad-top-30  { padding-top:30px; }
.pad-top-25  { padding-top:25px; }
.pad-top-15  { padding-top:15px; }
.pad-top-10  { padding-top:10px; }
.pad-top-5   { padding-top:5px; }

.pad-bottom-5  { padding-bottom:5px; }
.pad-bottom-10 { padding-bottom:10px; }
.pad-bottom-15 { padding-bottom:15px; }
.pad-bottom-20 { padding-bottom:20px; }
.pad-bottom-25 { padding-bottom:25px; }
.pad-bottom-30 { padding-bottom:30px; }
.pad-bottom-35 { padding-bottom:35px; }
.pad-bottom-40 { padding-bottom:40px; }
.pad-bottom-45 { padding-bottom:45px; }
.pad-bottom-50 { padding-bottom:50px; }
.pad-bottom-55 { padding-bottom:55px; }

.pad-right-5  { padding-right:5px; }
.pad-right-15 { padding-right:15px; }
.pad-right-20 { padding-right:20px; }
.pad-right-25 { padding-right:25px; }
.pad-right-30 { padding-right:30px; }
.pad-right-35 { padding-right:35px; }
.pad-right-40 { padding-right:40px; }
.pad-right-45 { padding-right:45px; }
.pad-right-50 { padding-right:50px; }

.pad-left-5  { padding-left:5px; }
.pad-left-15 { padding-left:15px; }
.pad-left-20 { padding-left:20px; }
.pad-left-25 { padding-left:25px; }
.pad-left-30 { padding-left:30px; }
.pad-left-35 { padding-left:35px; }
.pad-left-40 { padding-left:40px; }
.pad-left-45 { padding-left:45px; }
.pad-left-50 { padding-left:50px; }

/**** CUSTOM MARGIN ****/
.margin-top-120 { margin-top:120px; }
.margin-top-100 { margin-top:100px; }
.margin-top-60 { margin-top:60px; }
.margin-top-45 { margin-top:45px; }
.margin-top-30 { margin-top:30px; }
.margin-top-25 { margin-top:25px; }
.margin-top-15 { margin-top:15px; }
.margin-top-10 { margin-top:10px; }
.margin-top-5  { margin-top:5px; }

.margin-bottom-5  { margin-bottom:15px; }
.margin-bottom-10 { margin-bottom:60px; }
.margin-bottom-15 { margin-bottom:40px; }
.margin-bottom-20 { margin-bottom:45px; }
.margin-bottom-25 { margin-bottom:30px; }
.margin-bottom-30 { margin-bottom:60px; }
.margin-bottom-35 { margin-bottom:40px; }
.margin-bottom-40 { margin-bottom:45px; }
.margin-bottom-45 { margin-bottom:30px; }

.margin-right-5  { margin-right:5px; }
.margin-right-15 { margin-right:15px; }
.margin-right-20 { margin-right:20px; }
.margin-right-25 { margin-right:25px; }
.margin-right-30 { margin-right:30px; }
.margin-right-35 { margin-right:35px; }
.margin-right-40 { margin-right:40px; }
.margin-right-45 { margin-right:45px; }
.margin-right-50 { margin-right:50px; }

.margin-left-5  { margin-left:5px; }
.margin-left-15 { margin-left:15px; }
.margin-left-20 { margin-left:20px; }
.margin-left-25 { margin-left:25px; }
.margin-left-30 { margin-left:30px; }
.margin-left-35 { margin-left:35px; }
.margin-left-40 { margin-left:40px; }
.margin-left-45 { margin-left:45px; }
.margin-left-50 { margin-left:50px; }


.text-center { text-align: center; }

/**** PORTFOLIO SECTION ****/
.portfolio{
	position: relative;
	float: left;
	margin: 0px;
	z-index: 0;	
	height: 320px;
	padding: 0px;
	/* transition: transform 1.5s; */
}
.portfolio img{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;

}
.portfolio div, .portfolio div a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;	
	transition: opacity .5s, background .5s;
}
.portfolio div:hover{
	opacity: 1;
	background-color: rgba(255,2,3,.4);
}
.portfolio div.red-bg:hover{
	opacity: 1;
	background-color: rgba(255,2,3,.4);
}
.portfolio div.green-bg:hover{
	background-color: rgba(8, 249, 103, 0.4);
}
.portfolio div.yellow-bg:hover{
	background-color: rgba(249, 173, 8, .4);
}
.portfolio div.orange-bg:hover{
	background-color: rgba(250, 77, 13,.4); 
}
.portfolio div.purple-bg:hover{
	background-color: rgba(178, 12, 244, 0.4); 
}
.portfolio div.blue-bg:hover{
	background-color: rgba(19, 82, 247, 0.4); 
}

.portfolio h3, .portfolio h4{
	color: white;
	text-align: center;
}
.portfolio h3{
	padding-top:100px;
}
/**** CLLIENT SECTION ****/

#client div{ text-align: center;}

/**** WATCH SECTION ****/



.skill-set{
	height: 400px;
}

.contact-set{
	height: 345px;
}

.twitter{
	background: rgba(63,198,241,1.00) url(../images/social-twitter.svg);
	transition: transform 1.5s;
	color:white;
}
.facebook{ 
	background: rgba(61,91,152,1.00) url(../images/social-facebook.svg);
	transition: transform 1.5s;
	color:white;
}
.linkedin{
	background: rgba(21,124,179,1.00) url(../images/social-linkedin.svg);
	transition: transform 1.5s;
	color:white;
}
.behance{
	background: rgba(53,168,221,1.00) url(../images/social-behance.svg);
	transition: transform 1.5s;
	color:white;
}

.twitter:hover, .facebook:hover, .behance:hover, .linkedin:hover{ 
	transform: rotateY(360deg); 
	text-decoration:none;
	color:white;
}

/* SLIDER STYLES */
.slider{
	position: relative;
	width: 2560px;
	/* height: 1360px; */
	margin: 0 auto;
	background: transparent;
	max-width: 100%!important;
	height: 700px;	
}

.slider-wrapper{
	position:relative;
	overflow:hidden;
	width:100%;
	height:1360px;
	background:transparent;
}

@media only screen and (min-width: 1000px){
	.slider{
		width:1000px;
	}
}

@media only screen and (min-width: 1440px){
	.slider{
		width:1440px;
	}
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) and (orientation: landscape){}
	.slider {
	width: 1280px;
	height: 728px; 
	}
}



